@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Regular'), local('AtkinsonHyperlegible-Regular'),
    url('fonts/AtkinsonHyperlegible-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold'), local('AtkinsonHyperlegible-Bold'),
    url('fonts/AtkinsonHyperlegible-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    --transition-speed: 0.25s
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    border: 0.3125rem inset black;
    line-height: 1.3125rem;
}

body {
    font-family: "Atkinson Hyperlegible", serif;
    font-size: 1rem;
    line-height: 1.3125rem;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 4rem;
}

h1 {
    font-size: 2.375rem;
    line-height: 2.625rem;
    margin-top: 1.3125rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.625rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
}

h3 {
    font-size: 1.3125rem;
    line-height: 1.3125rem;
    margin-top: 1.3125rem;
    margin-bottom: 0;
}

h4 {
    font-size: 1rem;
    line-height: 1.3125rem;
    margin-top: 1.3125rem;
    margin-bottom: 0;
}

h4:has(+ ul),
h3:has(+ ul),
h2:has(+ ul) {
    margin-bottom: 0.65625rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.3125rem;
    margin-top: 1.3125rem;
    margin-bottom: 0;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: 1.3125rem;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

a:hover,
a:focus-visible {
    text-decoration: none;
}

main, header, footer {
    max-width: 70ch;
    margin: 0 auto;
}

header {
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
    padding-top: 0;
}

ul,
ol {
    list-style: inside;
    margin-left: 0;
}

ul:has(details) {
    list-style: none;
}

li + li {
    margin-top: .35rem;
}

details > * {
    padding-left: 1rem;
}


details *:not(summary,dialog) {
    transition: var(--transition-speed);
    opacity: 0;
}

details[open] *:not(summary,dialog) {
    opacity: 1;
}

details[open] summary {
    border-color: white;
    border-bottom-color: black;
}

details:has(ul:last-child) ul,
details:has(ul:last-child) ol {
    margin-bottom: 1rem;
}

summary {
    border: 0.0625rem solid black;
    padding: 0.3rem;
    transition: var(--transition-speed);
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(239, 207, 227, 0), rgba(227, 61, 148, 0));
}

summary + p {
    margin-top: 0.65625rem;
}

summary:hover,
summary:focus-visible {
    background: linear-gradient(to bottom, rgba(239, 207, 227, .3), rgba(227, 61, 148, .3));
}

button {
    cursor: pointer;
    background: none;
    border: .15rem outset black;
    padding: .25rem .5rem;
}

button:hover,
button:focus-visible {
    border-style: inset;
}

dialog {
    transition: var(--transition-speed) ease-in-out;
}

dialog[open] {
    opacity: 1;
    @starting-style {
        opacity: 0;
    }
}

dialog::backdrop {
    background: linear-gradient(to bottom, rgba(239, 207, 227, .3), rgba(227, 61, 148, .3));
}